* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 80%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  line-height: 50px;
}

nav ul.nav-menu li {
  position: relative;
}

nav .dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 50%;
  transform: translateX(50%);
  box-shadow: 1px 1px 10px black;
}

nav .dropdown.active {
  display: flex;
}

nav .dropdown.active span {
  line-height: 1.6;
  color: grey;
}

nav .dropdown.active span:hover {
  color: black;
}

/* Nav LEFT */
nav .nav-left img {
  height: 30px;
  vertical-align: middle;
  margin-bottom: 12px;
}

nav .nav-left li {
  padding-right: 30px;
  text-transform: uppercase;
}

.nav-left li:last-child {
  color: grey;
}

/* Nav RIGHT */
nav .nav-right li {
  margin: 0 15px;
  color: grey;
}

.nav-right li:hover {
  color: black;
  cursor: pointer;
}

.nav-right li:last-child {
  margin: 10px 0;
  padding: 0 20px;
  color: white;
  font-weight: bold;
  background-color: #EB008D;
  border-radius: 20px;
}
